.contactinformation {
    padding-left: 200px;
    padding-top: 10px;
}

.contactinformation img {
    margin: 0;
    padding-top: 20px;
}

.querycontactinfo {
    display: none;
}

.queryheadtitle {
    display: none;
}

@media screen and (max-width: 600px) {
    .contactinformation {
        display: none;
    }

    .queryheadtitle {
        display: block;
        text-align: center;
        font-size: 36px;
        color: #ed5c00;
    }

    .querycontactinfo {
        display: block;
        text-align: center;
        padding-top: 10px;
    }

    .querycontactinfo img {
        margin-top: 5%;
    }

}