.split {
    padding-top: 20px;
    display: flex;
    justify-content: center;
  }

.querysplit {
  display: none;
}

  @media screen and (max-width: 600px) {
  .split {
    display: none;
  }

  .querysplit {
    display: block;
  }
}