footer {
    height: calc(25vh);
    background-color: #f1f1f1;
}

.column {
    float: left;
    width: 22%;
    padding: 10px;
    margin-left: 20px;

    h2,
    p {
        margin-left: 20px;
    }
}

.row:after {
    display: table;
    clear: both;
}

.footer-logo {
    img {
        width: 40%;
        height: 40%;
        overflow: hidden;
        display: block;
        padding-left: 10px;
        margin-left: 30%;
        margin-top: 6%;
    }
}

.footer-list {
    li {
        display: block;
        float: left;
        clear: left;
    }
}

.listtitle {
    h2 {
        margin: 0;
        padding-bottom: 20px;
    }
}

.social-logo {
    width: 36px;
    height: auto;
    padding-left: 20px;
    display: inline-block;
}

.copyright {
    p {
        clear: both;
        text-align: center;
        padding-top: 30px;
    }
}

.footerquery {
    display: none;
}

@media only screen and (max-width: 1340px) {
    footer {
        height: calc(50vh);
        background-color: #f1f1f1;
    }
    
    .column {
        float: left;
        width: 30%;
        padding: 10px;
        margin-left: 150px;
    }

    .footerquery {
        display: none;
    }

    .footer-logo {
        img {
            margin-left: auto;
            margin-right: auto;
            overflow: hidden;
            display: block;
            padding-left: 10px;
            margin-top: 6%;
        }
    }

    .column {
        p {
            margin-left: 20px;
        }
    }

    /* Clear floats after the columns */

    .row:after {
        display: table;
        clear: both;
    }
}

@media only screen and (max-width: 850px) {
    footer {
        display: none;
    }
    .displayItems{
        display: block;
     
        
    }

    .footerquery {
        display: block;
        height: auto;
        background-color: #f1f1f1;
    }

    .querylogo {
        display: block;
        width: 50%;
        height: 40%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
        margin-bottom: 10%;
    }

    .querykategorier2 {
        margin-left: 25%;
    }

    .querykontakt {
        margin-top: 25%;
        margin-left: 35%;
        margin-bottom: 10%;
    }

    .querysocials {
        h2{
            margin: 0;
            padding-bottom: 20px;
            margin-left: -50px;
        }
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .footer-logoline{
        display: flex;
        text-align: center;
    }

    .social-logo {
        width: 36px;
        height: auto;
        padding-left: 5%;
        display: block;
    }

    .copyright {
        p {
            clear: both;
            text-align: center;
            padding-bottom: 10%;
            margin-bottom: -10%;
        }
    }
}
