footer {
    height: calc(30vh);
    background-color: #f1f1f1;
}
/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 22%;
    padding: 10px;
    margin-left: 20px;
  }

  .column h2 {
      margin-left: 20px;
  }

  .column p {
      margin-left: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    display: table;
    clear: both;
  }
  
.footer-logo img {
    width: 40%;
    height: 40%;
    overflow: hidden;
    display: block;
    padding-left: 10px;
    margin-left: 30%;
    margin-top: 6%;
}

.footer-list li {
    display: block;
    float: left;
    clear: left;
}

.listtitle h2 {
    margin: 0;
    padding-bottom: 20px;
}

.social-logo {
    width: 36px;
    height: auto;
    padding-left: 20px;
    display: inline-block;
}

.copyright p {
    clear: both;
    text-align: center;
    padding-top: 30px;
}

.footerquery {
    display: none;
}

@media screen and (max-width: 600px) {
    footer {
        display: none;
    }

    .footerquery {
        display: block;
        height: auto;
    background-color: #f1f1f1;
    }

    .querylogo {
        width: 40%;
        height: 40%;
        margin-left: 25%;
        padding-top: 5%;
        margin-bottom: 10%;
    }

    .querykategorier {
        margin-left: 25%;
    }

    .querykontakt {
        margin-top: 25%;
        margin-left: 35%;
        margin-bottom: 10%;
    }

    .querysocials {
        margin-left: 35%;
    }

    .social-logo {
        width: 36px;
        height: auto;
        padding-left: 5%;
        display: block;
    }

    .copyright p {
    clear: both;
    text-align: center;
    padding-bottom: 10%;
    margin-bottom: -10%;
}

}