$primary-color: #ed5c00;
$text-color: #fff;

body{   
    margin:0 auto; 
}

.header {
    padding: 0px;
    color: $text-color;
    font-size: 30px;
}

.wrapper {
    position: relative;
    color: $text-color;
    font-size: 30px;
}

.wrapper h2 {
    position: absolute;
    color: $text-color;
    font-size: 38px;
    top: 195px;
    left: 50px;
}

.wrapper button{
  position: absolute;
  color: red;
  top: 270px;
  left: 45px;
  border: none;
  background-color: $primary-color;
    color: $text-color;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 7px;
}

.header img{
        height: 100%;
        width: 100%;
}
