.blurt {
    h2 {
      text-align: center;
      font-size: 36px;
      color: #ed5c00;
    }
  
    p {
      text-align: center;
      padding-bottom: 50px;
    }
  }
  
  .nyespil {
    text-align: center;
    font-size: 36px;
    color: #ed5c00;
  }
  
  .homeproductgrid {
    display: flex;
    flex-wrap: wrap;
  }
  
  .link {
    text-decoration: none;
    color: #fff;
  }
  
  .homeproductgrid img {
    padding-top: 10px;
    padding-left: 17%;
    width: 65%;
    height: 100%;
  }
  
  .klikhome {
    text-align: center;
    margin-left: 41%;
    background-color: #ed5c00;
    color: #fff;
    padding: 12px 24px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 7px;
    margin-bottom: 5%;
    border: none;
  }
  
  .product {
    height: 50%;
    background-color: lightgray;
    margin: 40px 40px;
    max-width: 100%;
    width: 28%;
  
    h3 {
      font-size: 20px;
      text-align: center;
    }
  }
  
  .price {
    text-align: center;
    color: #ed5c00;
    font-weight: 600;
    font-size: 18px;
  }
  
  @media screen and (max-width: 1200px) {
    .blurt h2 {
      text-align: center;
      font-size: 50px;
      color: #ed5c00;
      margin-bottom: 0%;
    }
  
    .nyespi {
      margin-top: 30px;
    }
  
    .blurt p {
      display: inline-block;
      margin-left: 15%;
      margin-right: 15%;
    }
  
    .homeproductgrid {
      display: block;
      margin-left: 15%;
    }
  
    .link {
      text-decoration: none;
      color: #fff;
    }
  
    .homeproductgrid img {
      padding-top: 10px;
      width: 200%;
      height: 100%;
      margin-left: 0%;
      padding-left: 0;
    }
  
    .klikhome {
      display: block;
      width: 90%;
      margin-left: 55%;
    }
  
    .product h3 {
      margin-left: 55%;
      display: block;
      width: 90%;
    }
  
    .price {
      display: block;
      margin-left: 55%;
      width: 90%;
    }
  }