$primary-color: #ed5c00;
$text-color: #000;
$b-color: #fff;

.topnav li{
    overflow: hidden;
    background-color: $b-color;
}

.topnav li a {
    float: left;
    color: $text-color;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav li a:hover {
    background-color: #ddd;
    color: $text-color;
}

.topnav li .active {
    margin-left: 150px;
    color: $text-color;
}

.topnav li a.login {
    float: right;
    color: $text-color;
}

.topnav li a.checkout {
    float: right;
    background-color: $b-color;
    color: $text-color;
}

.topnav input[type="text"] {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border-radius: 5px;
    border-color: $text-color;
    font-size: 17px;
}



li {
    float: left;
}

.topnav img {
    width: 5%;
    height: auto;
}

.logo img {
    width: 70%;
    height: 70%;
    overflow: hidden;
    display: block;
}