.firstsection {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .secondsection {
    display: flex;
  }
  
  .reviewbillede {
    width: 10%;
    margin-top: 1%;
    padding-left: 25%;
    margin-right: none;
  }
  
  .reviewbeskrivelse {
    width: 90%;
    margin-right: 20%;
    padding-bottom: 5%;
  }
  
  .flytbillede {
    width: 40%;
    margin-left: 5%;
  }
  
  .flexsection {
    width: 60%;
  }
  
  .flytbillede img {
    width: 80%;
    height: 100%;
  }
  
  .flex-container {
    display: flex;
    margin-right: 40%;
  }
  
  strong {
    font-size: 20px;
  }
  
  .flex-container2 {
    display: flex;
    width: 30%;
    padding-right: 20px;
  }
  
  .fakebuy {
    display: flex;
    text-align: center;
    background-color: #ed5c00;
    color: #fff;
    padding: 11px 24px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 7px;
    margin-bottom: 5%;
    border: none;
  }
  
  .flexstars {
    display: flex;
    width: 30%;
  }
  
  .clip-star {
    background: gold;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: inline-block;
    height: 20px;
    width: 20px;
  }
  
  .clip-stargrey {
    background: grey;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: inline-block;
    height: 20px;
    width: 20px;
  }
  
  .centerreview {
    text-align: center;
  }
  
  .queryfirstsection, .querysecondsection {
    display: none;
  }
  
  @media only screen and (max-width: 700px) {
    .firstsection, .secondsection, .centerreview {
      display: none;
    }
  
    .queryfirstsection {
      display: block;
    }
  
    .queryflexsection {
      margin-left: 25%;
    }
  
    .queryfirstsection img {
      width: 100%;
    }
  
    .querycenterreview {
      text-align: center;
    }
  
    .querysecondsection {
      display: block;
      margin-left: 15%;
    }
  
    .queryproduct {
      display: block;
      text-align: center;
      font-size: 24px;
      color: #ed5c00;
    }
  }